<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--数据库目标驱动(可选MysqlDbProvider、SqlServerDbProvider、OracleDbProvider)-->
  <add key="db.provider" value="MysqlDbProvider" />
  <!--数据库地址-->
  <add key="db.datasource" value="localhost" />
  <!--数据库名称-->
  <add key="db.database" value="test" />
  <!--数据库用户名-->
  <add key="db.user" value="root" />
  <!--数据库密码-->
  <add key="db.password" value="123" />
  <!--数据库端口-->
  <add key="db.port" value="3306" />
  <!--日志开启-->
  <add key="IsDebugEnabled" value="true" />
  <add key="IsErrorEnabled" value="true" />
  <add key="IsInfoEnabled" value="true" />
  <add key="IsWarnEnabled" value="true" />
</appSettings>
