<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--数据库目标驱动(可选MysqlDbProvider、SqlServerDbProvider、OracleDbProvider)-->
  <add key="db.provider" value="SqlServerDbProvider" />
  <!--数据库地址-->
  <add key="db.datasource" value="localhost" />
  <!--数据库名称-->
  <add key="db.database" value="test" />
  <!--数据库用户名-->
  <add key="db.user" value="sa" />
  <!--数据库密码-->
  <add key="db.password" value="123" />
  <!--数据库端口-->
  <add key="db.port" value="3306" />
</appSettings>
