<?xml version="1.0" encoding="utf-8" ?>

<!--描述：基于Spring.Net的WebService服务配置-->
<objects xmlns="http://www.springframework.net">
  <description>Definitions of objects to be exported.</description>
  <!--外部数据接口 WebService接口地址名：http://localhost:3481/WebService.asmx-->
  <object id="WebService" type="Spring.Web.Services.WebServiceExporter, Spring.Web">
    <property name="TargetName" value="SecureService"/>
    <property name="Namespace" value="http://tempuri.org"/>
    <property name="Description" value="基于Spring.Net的WebService服务"/>
    <!--继承基础类 SecureWebService为服务安全机制-->
    <property name="WebServiceBaseType" value="Shitou.WebService.SecureWebService,Shitou.WebService" />
    <property name="MemberAttributes">
      <dictionary>
        <entry key="*">
          <list>
            <object type="System.Web.Services.Protocols.SoapHeaderAttribute, System.Web.Services">
              <!--拦截器-->
              <constructor-arg name="" value="AuthenticationHeader"/>
            </object>
          </list>
        </entry>
      </dictionary>
    </property>
  </object>
  <!-- AOP 拦截包装后的业务类-->
  <object id="SecureService" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
    <property name="Target" ref="appService"/>
    <property name="InterceptorNames">
      <list>
        <!-- 使用拦截器处理公用的操作，比如权限检查，日志等-->
        <value>AuthenticationAdvice</value>
      </list>
    </property>
  </object>
  <!-- AOP 拦截器 权限检查-->
  <object id="AuthenticationAdvice" type="Shitou.WebService.AuthenticationAdvice">
  </object>

  <!--App接口入口-->
  <object  id="appService" type="Shitou.WebService.AppService,Shitou.WebService">
    <property name="UserService" ref="userService" />
  </object>
</objects>